body{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}


.title{
    color: cadetblue;
}


.container{
    background-image: url('https://lh3.googleusercontent.com/fife/AAWUweWsbFg1XutShi4bR9QgHO3-JT1j-Oo8zsW9IrvTz3hIa98hKZONsvJfqNdTOwcPswlthQKAf-m2e3Tj7Tvk-Py1-nltRxo6XcwPO5Y6vjxUyC3hAYLL0cfwCZYGiETAXHFAM7j4Y7W9dDIqx1DsR_-A5qSwzjBPhKoj3w1qzdiHG_DBePtToXfWazUO3zTScnKj5mFhN89WbnzaikIS2HAflZLNvWnBOwccSHOnJ0aHqNxPE-TudhX-EbpSJ2FJoThxo6NzxEECwrR9k_NJAGSPzP6H4EHgNPSNmRQ525c3758IERcZ5NZcDFF4tTc1bDSbuchyGuCgZuAnJuuI7cyIAPPl06mhoPwuENs8AXcYbTSxb5hbM4rUs0SKG8c9njg-qKc_1hIElF0d5nv7BDvLrJ4NaBx-OEbCwNQtCbLPohcI0D6hQ3ZokPUPh739Eub1imz42tCmWzFM1IQ8jsQAU4M76A4eCLXxh2O3Skizv3ANiZE7JaCBoT6P4TQoJctA87vuAEVJiS4Dbs7YAN8jr5-CUi9Rec6Z2JwE8Ot2RNCiCJK_3K7jMhaoE303qCiyZLg0eAsG6xafyIB04Tt8Wmi-b1qX1mU6Qe9iSNc5hAbIJfvC6Xj_a7jWwqdcfyc178quKIWMbpQ2pCPP4jwnMo8Z_RBuV0A-IiVC0vZhCWvgzdFUNKe7f3FMESahmM2Y7O1TdzSoqsRBTb8ip1V_9n2dwVWJJAA=w1920-h937-ft');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.dish-container{
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0, 0.3);
    background-color: rgba(255, 255, 255, 0.8);
}

.dish-image{
    display: block;
    border-radius: 10px;
    width: 100%;
}

.dish-image-container{
    display: inline-block;
    position: relative;
}

.dish-price{
    text-align: center;
    font-weight: 800;
    width: 60px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    position: absolute;
    left: calc(100% - 78px);
    top: calc(100% - 45px);
    background-color: rgb(83, 141, 1);
    color: #fff;
    padding: 10px;
}